.navbar-brand {
    font-family: "Playfair Display", serif;
}

.nav-link:hover {
    color: teal;
}

footer p {
    color: teal;
}
 h1 {
        font-family: "Playfair Display", serif;
        color: rgb(113, 4, 42);
    }